MYSQL_ROOT_PASSWORD=replace-with-a-private-value
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=replace-with-a-private-value
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=replace-with-a-private-value
OJ_JWT_SECRET=replace-with-a-private-value
OJ_JWT_ACCESS_SECRET=replace-with-a-private-value
OJ_JWT_REFRESH_SECRET=replace-with-a-private-value
MINIO_CONSOLE_PORT=9091
