body {
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
a {
    text-decoration: none;
}
:root {
    --page-max-width: 1280px;
    --color-tag-text: white;
}

.common-max-width-page {
    max-width: var(--page-max-width);
}

.common-tag-text-color {
    color: var(--color-tag-text);
}