<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anishan.problem.mapper.ProblemProblemListMapper">

    <resultMap id="BaseResultMap" type="com.anishan.problem.domain.entity.ProblemProblemListRelation">
            <id property="listId" column="list_id" jdbcType="BIGINT"/>
            <id property="problemId" column="problem_id" jdbcType="BIGINT"/>
            <result property="problemOrder" column="problem_order" jdbcType="INTEGER"/>
            <result property="score" column="score" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        list_id,problem_id,problem_order,
        score
    </sql>
</mapper>
