<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anishan.problem.mapper.RecordsMapper">

    <resultMap id="BaseResultMap" type="com.anishan.problem.domain.entity.Records">
            <id property="recordId" column="record_id" jdbcType="BIGINT"/>
            <result property="contestId" column="contest_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="problemId" column="problem_id" jdbcType="BIGINT"/>
            <result property="score" column="score" jdbcType="DECIMAL"/>

    </resultMap>


    <resultMap id="statisticResultMap" type="com.anishan.problem.domain.vo.ProblemStatistic">
        <id property="problemId" column="problem_id"/>
        <result property="title" column="title"/>
        <result property="rightNum" column="right_num"/>
        <result property="wrongNum" column="wrong_num"/>
    </resultMap>

    <sql id="Base_Column_List">
        record_id,contest_id,user_id,
        problem_id,score,answer
    </sql>
    <select id="statistic" resultMap="statisticResultMap">
        select
            p.problem_id as problem_id, p.title as title,
            sum(CASE WHEN status = 1 THEN 1 ELSE 0 END) AS right_num,
            sum(CASE WHEN status = 0 THEN 1 ELSE 0 END) AS wrong_num
        from records r
        right join problem p on p.problem_id = r.problem_id
        where
            contest_id = #{contestId}
        group by r.problem_id

    </select>
</mapper>
