<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anishan.problem.mapper.SupplementContestMapper">

    <resultMap id="BaseResultMap" type="com.anishan.problem.domain.entity.SupplementContest">
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="contestId" column="contest_id" jdbcType="BIGINT"/>
            <result property="deadline" column="deadline" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="upsertDeadline">
        INSERT INTO supplement_contest(user_id, contest_id, deadline)
        VALUES (#{userId}, #{contestId}, #{deadline})
        ON DUPLICATE KEY UPDATE deadline = VALUES(deadline)
    </insert>

    <delete id="deleteByContestAndUser">
        DELETE FROM supplement_contest WHERE contest_id = #{contestId} AND user_id = #{userId}
    </delete>


</mapper>
