<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anishan.problem.mapper.SysProblemMapper">

    <resultMap id="BaseResultMap" type="com.anishan.problem.entity.po.SysProblem">
            <id property="problemId" column="problem_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="typeId" column="type_id" jdbcType="BIGINT"/>
            <result property="timeLimit" column="time_limit" jdbcType="INTEGER"/>
            <result property="memoryLimit" column="memory_limit" jdbcType="INTEGER"/>
            <result property="stackLimit" column="stack_limit" jdbcType="INTEGER"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="input" column="input" jdbcType="VARCHAR"/>
            <result property="output" column="output" jdbcType="VARCHAR"/>
            <result property="inputExample" column="input_example" jdbcType="VARCHAR"/>
            <result property="outputExample" column="output_example" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="hint" column="hint" jdbcType="VARCHAR"/>
            <result property="auth" column="auth" jdbcType="INTEGER"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        problem_id,title,author,
        type_id,time_limit,memory_limit,
        stack_limit,description,input,
        output,input_example,output_example,
        source,hint,auth,
        del_flag,create_time,update_time
    </sql>
</mapper>
