<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anishan.user.mapper.SysClassMapper">

    <resultMap id="BaseResultMap" type="com.anishan.user.domain.entity.SysClass">
            <id property="classId" column="class_id" jdbcType="BIGINT"/>
            <result property="className" column="class_name" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        class_id,class_name,del_flag,
        create_time,update_time,remark
    </sql>
</mapper>
