<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anishan.user.mapper.SysRoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.anishan.user.domain.entity.SysRoleMenuRelation">
            <id property="roleId" column="role_id" jdbcType="BIGINT"/>
            <id property="menuId" column="menu_id" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="MIMenuByRoleResultMap" type="com.anishan.user.domain.entity.SysMenu">
        <id property="menuId" column="menu_id" jdbcType="BIGINT"/>
        <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="router" column="router" jdbcType="VARCHAR"/>
        <result property="menuType" column="menu_type" jdbcType="CHAR"/>
        <result property="perms" column="perms" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,menu_id
    </sql>
    <delete id="deleteBatch">
        delete from sys_role_menu
        where (role_id, menu_id) in
        <foreach collection ="relations" item="item" separator="," open="(" close=")">
            (#{item.roleId}, #{item.menuId})
        </foreach>
    </delete>
    <select id="getMIMenuByRole" resultMap="MIMenuByRoleResultMap">

        select
            distinct menu.menu_id as menu_id,
            menu_name, parent_id, order_num,
            router, menu_type, perms,
            icon, component,
            create_time, update_time,
            remark
        from (select
             menu_id
         from sys_role_menu
         where role_id in
         <foreach collection="menuIds" open="(" close=")" separator="," item="item">
             #{item}
         </foreach>
         ) as menu_ids
        left join sys_menu menu on menu.menu_id = menu_ids.menu_id
        where
            menu.menu_type != 'B'
        and
            menu.del_flag = 0

    </select>
    <select id="getBMenuByRole" resultType="com.anishan.user.domain.entity.SysMenu">
        select

        distinct menu.menu_id as menu_id,
        menu_name, parent_id, order_num,
        router, menu_type, perms,
        component, icon, create_time,
        update_time, remark
        from (select
        menu_id
        from sys_role_menu
        where role_id in
            <foreach collection="menuIds" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        ) as menu_ids
        left join sys_menu menu on menu.menu_id = menu_ids.menu_id
        where
            menu.perms != '#'
        and
            menu.del_flag = 0
    </select>
</mapper>
