<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anishan.user.mapper.SysUserRoleMapper">


    <update id="deleteBatch">
        delete from sys_user_role
        where (role_id, user_id) in
            <foreach collection ="relations" item="item" separator="," open="(" close=")">
                (#{item.roleId}, #{item.userId})
            </foreach>
    </update>
</mapper>